<a href="https://colab.research.google.com/github/alexrafkin/ideal-parakeet/blob/main/DataCleaningII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [ ]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

useducation_df = pd.read_sql_query('select * from useducation',con=engine)
engine.dispose()

1. Determine all the variable types and find the fraction of the missing values for each variable.

In [ ]:
useducation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1492 non-null   object
 1   STATE                         1492 non-null   object
 2   YEAR                          1492 non-null   int64
 3   ENROLL                        1229 non-null   float64
 4   TOTAL_REVENUE                 1280 non-null   float64
 5   FEDERAL_REVENUE               1280 non-null   float64
 6   STATE_REVENUE                 1280 non-null   float64
 7   LOCAL_REVENUE                 1280 non-null   float64
 8   TOTAL_EXPENDITURE             1280 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1280 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1280 non-null   float64
 11  OTHER_EXPENDITURE             1229 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1280 non-null   float64
 13  GRADES_PK_G                   1319 non-null   float64
 14  GRADES_KG_G                   1360 non-null   float64
 15  GRADES_4_G                    1361 non-null   float64
 16  GRADES_8_G                    1361 non-null   float64
 17  GRADES_12_G                   1361 non-null   float64
 18  GRADES_1_8_G                  1361 non-null   float64
 19  GRADES_9_12_G                 1361 non-null   float64
 20  GRADES_ALL_G                  1319 non-null   float64
 21  AVG_MATH_4_SCORE              536 non-null    float64
 22  AVG_MATH_8_SCORE              532 non-null    float64
 23  AVG_READING_4_SCORE           533 non-null    float64
 24  AVG_READING_8_SCORE           498 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [ ]:
useducation_df.isnull().sum()*100/useducation_df.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

In [ ]:
edcopy = useducation_df.copy()

Ideally, I'd want to replace the null values for the averages per state, since most of these values differ greatly between states. But for simplicity sake you can fill all float variables with the mean. The last four variables, however, have too many missing valuables for me to feel confident using the mean.

In [ ]:
fill_variables = ["ENROLL", "TOTAL_REVENUE", "FEDERAL_REVENUE", "STATE_REVENUE", "LOCAL_REVENUE", "TOTAL_EXPENDITURE", "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE", "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE", "GRADES_PK_G", "GRADES_KG_G", "GRADES_4_G", "GRADES_8_G", "GRADES_12_G", "GRADES_1_8_G", "GRADES_9_12_G", "GRADES_ALL_G"]

for var in fill_variables:
  edcopy.loc[:, var] = edcopy.loc[:, var].fillna(edcopy.loc[:, var].mean())

In [ ]:
edcopy.isnull().sum()*100/edcopy.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                           0.000000
TOTAL_REVENUE                    0.000000
FEDERAL_REVENUE                  0.000000
STATE_REVENUE                    0.000000
LOCAL_REVENUE                    0.000000
TOTAL_EXPENDITURE                0.000000
INSTRUCTION_EXPENDITURE          0.000000
SUPPORT_SERVICES_EXPENDITURE     0.000000
OTHER_EXPENDITURE                0.000000
CAPITAL_OUTLAY_EXPENDITURE       0.000000
GRADES_PK_G                      0.000000
GRADES_KG_G                      0.000000
GRADES_4_G                       0.000000
GRADES_8_G                       0.000000
GRADES_12_G                      0.000000
GRADES_1_8_G                     0.000000
GRADES_9_12_G                    0.000000
GRADES_ALL_G                     0.000000
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

3. Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [ ]:
edcopy2 = useducation_df.copy()

In [ ]:
yr_avgs = edcopy2.groupby(['YEAR']).mean()

In [ ]:
yr_avgs["ENROLL"][1995]

858973.0392156863

In [ ]:
years = edcopy2['YEAR'].unique()

In [ ]:
for var in fill_variables:
  for year in years:
    edcopy2.loc[edcopy2["YEAR"] == year, var] = edcopy2.loc[edcopy2["YEAR"] == year, var].fillna(yr_avgs[var][year])

In [ ]:
edcopy2.isnull().sum()*100/edcopy2.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                           7.171582
TOTAL_REVENUE                    3.418231
FEDERAL_REVENUE                  3.418231
STATE_REVENUE                    3.418231
LOCAL_REVENUE                    3.418231
TOTAL_EXPENDITURE                3.418231
INSTRUCTION_EXPENDITURE          3.418231
SUPPORT_SERVICES_EXPENDITURE     3.418231
OTHER_EXPENDITURE                7.171582
CAPITAL_OUTLAY_EXPENDITURE       3.418231
GRADES_PK_G                      6.836461
GRADES_KG_G                      6.836461
GRADES_4_G                       6.836461
GRADES_8_G                       6.836461
GRADES_12_G                      6.836461
GRADES_1_8_G                     6.836461
GRADES_9_12_G                    6.836461
GRADES_ALL_G                     6.836461
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

4. This time, fill in the missing values using interpolation (extrapolation).

In [ ]:
edcopy3 = useducation_df.copy()

In [ ]:
states = edcopy3['STATE'].unique()

In [ ]:
for var in fill_variables:
  edcopy3.loc[:, var] = edcopy3.loc[:, var].interpolate()

In [ ]:
edcopy3.head()

       PRIMARY_KEY       STATE  ...  AVG_READING_4_SCORE  AVG_READING_8_SCORE
0     1992_ALABAMA     ALABAMA  ...           207.963517                  NaN
1      1992_ALASKA      ALASKA  ...                  NaN           258.859712
2     1992_ARIZONA     ARIZONA  ...           206.212716           262.169895
3    1992_ARKANSAS    ARKANSAS  ...           208.634458           264.619665
4  1992_CALIFORNIA  CALIFORNIA  ...           196.764414                  NaN

[5 rows x 25 columns]

5. Compare your results for the second, third, and fourth questions. Do you find any meaningful differences?

In [ ]:
avgs = pd.DataFrame({"original" :useducation_df.mean(), "total avg" :edcopy.mean(), 'by year' :edcopy2.mean(), 'interpolation':edcopy3.mean()})

In [ ]:
avgs

                                  original  ...  interpolation
YEAR                          2.004434e+03  ...   2.004434e+03
ENROLL                        9.159308e+05  ...   1.005984e+06
TOTAL_REVENUE                 9.092082e+06  ...   1.111164e+07
FEDERAL_REVENUE               7.663723e+05  ...   8.922691e+05
STATE_REVENUE                 4.216553e+06  ...   4.913351e+06
LOCAL_REVENUE                 4.109157e+06  ...   5.306024e+06
TOTAL_EXPENDITURE             9.196681e+06  ...   1.114374e+07
INSTRUCTION_EXPENDITURE       4.762966e+06  ...   5.792260e+06
SUPPORT_SERVICES_EXPENDITURE  2.680331e+06  ...   3.324275e+06
OTHER_EXPENDITURE             4.292046e+05  ...   5.004288e+05
CAPITAL_OUTLAY_EXPENDITURE    9.027693e+05  ...   1.033524e+06
GRADES_PK_G                   1.760161e+04  ...   1.592606e+04
GRADES_KG_G                   6.374676e+04  ...   5.902147e+04
GRADES_4_G                    6.453893e+04  ...   5.979765e+04
GRADES_8_G                    6.427106e+04  ...   5.951138e+04
GRADES_12_G                   5.426892e+04  ...   5.020724e+04
GRADES_1_8_G                  5.192140e+05  ...   4.810102e+05
GRADES_9_12_G                 2.470714e+05  ...   2.286678e+05
GRADES_ALL_G                  8.024415e+05  ...   7.478782e+05
AVG_MATH_4_SCORE              2.347683e+02  ...   2.347683e+02
AVG_MATH_8_SCORE              2.784147e+02  ...   2.784147e+02
AVG_READING_4_SCORE           2.188662e+02  ...   2.188662e+02
AVG_READING_8_SCORE           2.636611e+02  ...   2.636611e+02

[23 rows x 4 columns]